extends layout

block home

  h2 TodoList
    div.form
      input(id='itemName' , type='text' , value='' , placeholder='請輸入事項')
      button(type='button' , onclick='Add()') 新增

  ul
      each d in data
        li
          label(for=d._id)= d.item
          input(id=d._id , type='checkbox', checked=d.done , onclick=`Checked('${d._id}',${d.done})`)
          button(type='button' , onclick=`Delete('${d._id}')`) 刪除

